@import url(default.css);

/* 비트맵 이미지 */
.rwd-img{
  max-width: 100%;
  height: auto;
}

.rwd-svg{
  width: 100%;
  height: auto;
}

figure{
  margin: 0;
  width: 80%;
  background-color: yellow;

  img {
    max-width: 100%;
  }
}